* {padding: 0;
   margin: 0;
   box-sizing: border-box;}

   
   main {background-color: #C9C9C9;
         padding: 20px;
   }
   
   .container {max-width: 1200px;
               margin: auto;
               background-color: white;
   }
   
   .task {padding:10px;}

   /*-----------------------------
             LOGO HEADER
   ----------------------------*/         
   
   header {background-color: white;
          padding:20px;
   }

   .title { vertical-align: middle;
            display: inline-block;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-style: normal;
   }
   
   .logo {vertical-align: middle;
         }

   /*-----------------------------
             LOGO HEADER
   ----------------------------*/         
   
   /*-----------------------------
             BUTTONS
   ----------------------------*/         
   
   .buttons {margin-top: 20px;
             padding: 10px;}
  
  
   .button_style {
      border-radius: 10px;
      height: 30px;
      width: 120px;
      margin-right: 3px;
      border:none;
      
   }
  
  .button1 {
      background-color: #47adf1;
      color: white;
      
   }
  
  .button2 {
      background-color: white;
      color: 	#C9C9C9;
      border:2px solid	#C9C9C9;
   }
  

   /*-----------------------------
             BUTTONS
   ----------------------------*/    
  
   
   /*-----------------------------
      CHECK/CROSS - CIRCLE
   ----------------------------*/    
   .circle {display: inline-block;
            border: 1px solid black;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            text-align: center;
            line-height: middle;
            margin: 10px;
   }

   .circle_check {color: green;
                  border: 3px solid green;}
   /*-----------------------------
      CHECK/CROSS - CIRCLE
   ----------------------------*/    
  
   /*-----------------------------
          OPTIONS - TITLES STYLE
   ----------------------------*/    
   
     h3{font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;}

   .options {display: inline-block;
              font-family: "Roboto", sans-serif;
              font-style: normal;
                      }
      
   /*-----------------------------
          OPTIONS - TITLES STYLE
   ----------------------------*/    


   /*-----------------------------
          TAG multi-color
   ----------------------------*/    
   .tag {padding: 4px;
           border: 2px solid ;
           border-radius: 10px;
           font-family: "Roboto", sans-serif;
           font-style: normal
   }
        


   .tag_blue {background-color: #47adf1;
                color: white;
   }
   .tag_purple {background-color: purple;
               color: white;
   }
   .tag_aquamarine {background-color: aquamarine;
                    color: white;}
   .tag_orange {background-color: orange;
               color: white;
   }
   .tag_pink {background-color: pink;
               color: white;
   }
   .tag_green {background-color: green;
               color: white;
   }

   /*-----------------------------
          TAG multi-color
   ----------------------------*/    

   
   

