* {padding: 0;
   margin: 0;
   box-sizing: border-box;}

   /*-----------------------------
             LOGO HEADER
   ----------------------------*/         
   
   header {
      background-color: white;
      padding:20px;
   }

   .title { vertical-align: middle;
            display: inline-block;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-style: normal;
   }
   
   .logo {vertical-align: middle;
         }

   /*-----------------------------
             LOGO HEADER
   ----------------------------*/         
   




